<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="tutorial"><p>チュートリアルを見る</p></a>
    <a href="/"><p>早速始める</p></a>
  </body>
</html>
